@page
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<html>
<h1>This is my machine name: @Configuration["comutername"]</h1>
</html>